[changelog]
header = """# Changelog\n\n"""
body = """
## {{ tag }} - {{ timestamp | date(format="%Y-%m-%d") }}
{% if groups %}
{% for group in groups %}
### {{ group.title }}
{% for commit in group.commits %}
- {{ commit.message | trim }}
{% endfor %}

{% endfor %}
{% else %}
- No notable changes.
{% endif %}
"""
trim = true
footer = ""

[git]
conventional_commits = true
filter_unconventional = true
tag_pattern = "v[0-9].*"
protect_breaking_commits = true
