name: CI Build

on:
  push:
    branches:
      - "**" # trigger on push for all branches

  pull_request:
    branches:
      - "**" # trigger on PR for all branches

  workflow_dispatch:
    inputs:
      os:
        description: "Runner OS (for multiple OS-es separate by comma, e.g. ubuntu-latest,windows-latest)"
        type: string
        default: "ubuntu-latest"
        # There is a known GitHub actions issue: the workflow dispatch UI doesn't properly handle JSON strings with quotes.
        # E.g. for the input '["ubuntu-latest"]', the UI removes the inner quotes and it becomes the invalid JSON: '[ubuntu-latest]'.

      preprocessor-symbols:
        description: Define constants to pass to the compiler
        type: string
        default: ""

env:
  BUILD_PROJECTS: >-
    ["./vm2.TestUtilities.slnx"]
  TEST_PROJECTS: >-
    []
  BENCHMARK_PROJECTS: >-
    []
  OS: >-
    ["ubuntu-latest"]
  PREPROCESSOR_SYMBOLS: ""

jobs:
  get-params:
    name: Prepare the default and input parameters
    runs-on: ubuntu-latest
    if: ${{ github.event_name != 'push' || !contains(github.event.head_commit.message, '[skip ci]') }}
    env:
      dotnet_version: ${{ vars.DOTNET_VERSION }}
      configuration: ${{ vars.CONFIGURATION }}
      min_coverage_pct: ${{ vars.MIN_COVERAGE_PCT }}
      max_regression_pct: ${{ vars.MAX_REGRESSION_PCT }}
    outputs:
      build-projects: ${{ steps.init-params.outputs.build-projects }}
      test-projects: ${{ steps.init-params.outputs.test-projects }}
      benchmark-projects: ${{ steps.init-params.outputs.benchmark-projects }}
      os: ${{ steps.init-params.outputs.os }}
      dotnet-version: ${{ steps.init-params.outputs.dotnet-version }}
      configuration: ${{ steps.init-params.outputs.configuration }}
      preprocessor-symbols: ${{ steps.init-params.outputs.preprocessor-symbols }}
      min-coverage-pct: ${{ steps.init-params.outputs.min-coverage-pct }}
      max-regression-pct: ${{ steps.init-params.outputs.max-regression-pct }}
    steps:
      - name: Gather parameters
        id: init-params
        shell: bash
        run: |
          # the following outputs are invariant - no matter how we trigger the workflow, they stay the same as specified in env:
          build_projects='${{ env.BUILD_PROJECTS }}'
          test_projects='${{ env.TEST_PROJECTS }}'
          benchmark_projects='${{ env.BENCHMARK_PROJECTS }}'

          if [ '${{ github.event_name }}' == "push" ]; then
              # Set the default values for push events - add SHORT_RUN to preprocessor symbols for faster benchmark tests (less precise)
              os='${{ env.OS }}'
              preprocessor_symbols='SHORT_RUN;${{ env.PREPROCESSOR_SYMBOLS }}'
          elif [ '${{ github.event_name }}' == "pull_request" ]; then
              # Set the default values for push and pull_request events
              os='${{ env.OS }}'
              preprocessor_symbols='${{ env.PREPROCESSOR_SYMBOLS }}'
          elif [ '${{ github.event_name }}' == "workflow_dispatch" ]; then
              # Get the values from the inputs of workflow_dispatch event (the UI)
              # Convert comma-separated runner's OS values to JSON array
              os=$(echo "${{ inputs.os }}" | jq -Rc 'split(",") | map(select(length > 0) | gsub("^\\s+|\\s+$";""))')
              preprocessor_symbols='${{ inputs.preprocessor-symbols }}'
          else
              echo "Unsupported event: ${{ github.event_name }}"
              exit 5
          fi

          # Set the outputs:
          {
            echo "os=${os}"
            echo "build-projects=${build_projects}"
            echo "test-projects=${test_projects}"
            echo "benchmark-projects=${benchmark_projects}"
            echo "dotnet-version=${dotnet_version}"
            echo "configuration=${configuration}"
            echo "preprocessor-symbols=${preprocessor_symbols}"
            echo "min-coverage-pct=${min_coverage_pct}"
            echo "max-regression-pct=${max_regression_pct}"
          }  >> $GITHUB_OUTPUT

  call-ci:
    uses: vmelamed/vm2.DevOps/.github/workflows/_ci.yaml@main
    needs:
      - get-params
    permissions:
      contents: read
      pull-requests: write
      checks: write
    with:
      os: ${{ needs.get-params.outputs.os }} # JSON string
      build-projects: ${{ needs.get-params.outputs.build-projects }} # JSON string
      test-projects: ${{ needs.get-params.outputs.test-projects }} # JSON string
      benchmark-projects: ${{ needs.get-params.outputs.benchmark-projects }} # JSON string
      dotnet-version: ${{ needs.get-params.outputs.dotnet-version }}
      configuration: ${{ needs.get-params.outputs.configuration }}
      preprocessor-symbols: ${{ needs.get-params.outputs.preprocessor-symbols }}
      min-coverage-pct: ${{ fromJson(needs.get-params.outputs.min-coverage-pct) }}
      max-regression-pct: ${{ fromJson(needs.get-params.outputs.max-regression-pct) }}
