name: "CI: Build, Run Tests, Run Benchmarks"
# Comments marked with *CP* are "Customization Point"-s to adjust the workflow to your repo needs.

on:
  push:
    branches:
      - "**" # trigger on push for all branches or...

  pull_request:
    branches:
      - "**" # ...on PR for all branches.

  workflow_dispatch:
    inputs:
      os:
        description: Runner OS (or multiple OS-es separate by comma, e.g. 'ubuntu-latest,windows-latest')
        type: string
        default: ubuntu-latest  # *CP* Adjust the default runner OS or OS-es as needed.
        # There is a known GitHub actions issue: the workflow dispatch UI doesn't properly handle JSON strings with quotes.
        # E.g. for the input '["ubuntu-latest"]', the UI removes the inner quotes and it becomes the invalid JSON: '[ubuntu-latest]'.

      preprocessor-symbols:
        description: Define semicolon-separated preprocessor symbols to pass to the compiler
        type: string
        default: SHORT_RUN # *CP* semicolon-separated preprocessor symbols to pass to the compiler.
        # Here it enables benchmarks short run mode for faster execution, but less precise results, acceptable for CI runs.

env:
  # *CP* The project(s) to build as a JSON array of strings - path(s) to the project(s).
  # An empty string means to build the root solution and run all test and benchmark projects in it.
  # Hint: unless your solution/project file has all necessary projects included explicitly or as references,
  # list all projects that need to be built, including tests and benchmarks to ensure that the artifacts are cached and reused.
  # Hint: to set the value as a valid JSON list of strings, useYAML folded style (>-), and double quotes around the strings, e.g.:
  # BUILD_PROJECTS: >-
  #   ["src/Project1/Project1.csproj", "src/Project2/Project2.csproj"]
  BUILD_PROJECTS: ""

  # *CP* The test project(s) to run as a JSON array of strings - path(s) to the test project(s).
  # If not specified, no tests are requested. Not having tests is not typical and not desirable, but possible.
  # Hint: to set the value as a valid JSON list of strings, useYAML folded style (>-), and double quotes around the strings, e.g.:
  # TEST_PROJECTS: >-
  #   ["tests/Project1.Tests/Project1.Tests.csproj", "tests/Project2.Tests/Project2.Tests.csproj"]
  TEST_PROJECTS: ""

  # *CP* The benchmarks project(s) to run as a JSON array of strings - path(s) to the benchmark project(s).
  # If not specified, no benchmarks are requested.
  # Hint: to set the value as a valid JSON list of strings, useYAML folded style (>-), and double quotes around the strings, e.g.:
  # BENCHMARK_PROJECTS: >-
  #   ["benchmarks/Project1.Benchmarks/Project1.Benchmarks.csproj"]
  BENCHMARK_PROJECTS: ""

  # *CP* Semicolon-separated preprocessor symbols to pass to the compiler, e.g. SHORT_RUN (to enable benchmarks short run mode).
  PREPROCESSOR_SYMBOLS: "SHORT_RUN"

  # *CP* The OS runner(s) to use for building and testing as a JSON array of strings - e.g. "ubuntu-latest", "windows-latest", "macos-latest".
  # Hint: to set the value as a valid JSON list of strings, useYAML folded style (>-), and double quotes around the strings, e.g.:
  # OS: >-
  #   ["ubuntu-latest", "windows-latest", "macos-latest"]
  OS: ""

jobs:
  get-params:
    name: Prepare the default and passed in parameters
    runs-on: ubuntu-latest # in this workflow the runner doesn't matter - we're just preparing the inputs for the next workload(s).
    if: ${{ github.event_name != 'push' || !contains(github.event.head_commit.message, '[skip ci]') }}
    env:
      # *CP* The following are invariant - no matter how we trigger the workflow, they should stay the same.
      # Consider moving them to repo variables and secrets - they can be set at the org., environment, or repository level.
      # Also you can set permissions on these as well. They'll behave almost like a per-organization or per-repository policy.
      dotnet_version: ${{ vars.DOTNET_VERSION }}          # e.g. '10.0.x'
      configuration: ${{ vars.CONFIGURATION }}            # e.g. 'Release'
      min_coverage_pct: ${{ vars.MIN_COVERAGE_PCT }}      # e.g. '80'
      max_regression_pct: ${{ vars.MAX_REGRESSION_PCT }}  # e.g. '20'
    outputs:
      build-projects: ${{ steps.init-params.outputs.build-projects }}
      test-projects: ${{ steps.init-params.outputs.test-projects }}
      benchmark-projects: ${{ steps.init-params.outputs.benchmark-projects }}
      os: ${{ steps.init-params.outputs.os }}
      dotnet-version: ${{ steps.init-params.outputs.dotnet-version }}
      configuration: ${{ steps.init-params.outputs.configuration }}
      preprocessor-symbols: ${{ steps.init-params.outputs.preprocessor-symbols }}
      min-coverage-pct: ${{ steps.init-params.outputs.min-coverage-pct }}
      max-regression-pct: ${{ steps.init-params.outputs.max-regression-pct }}
    steps:
      - name: Gather parameters
        id: init-params
        shell: bash
        run: |
          # the following outputs are invariant - no matter how we trigger the workflow, they stay the same as specified in env:
          build_projects='${{ env.BUILD_PROJECTS }}'
          test_projects='${{ env.TEST_PROJECTS }}'
          benchmark_projects='${{ env.BENCHMARK_PROJECTS }}'
          dotnet_version='${{ env.dotnet_version }}'
          configuration='${{ env.configuration }}'
          min_coverage_pct='${{ env.min_coverage_pct }}'
          max_regression_pct='${{ env.max_regression_pct }}'

          if [ '${{ github.event_name }}' == "push" ]; then
              # Set the values for push events, and add SHORT_RUN to preprocessor_symbols for faster benchmark tests (less precise, yet acceptable for CI runs).
              os='${{ env.OS }}'
              preprocessor_symbols='SHORT_RUN;${{ env.PREPROCESSOR_SYMBOLS }}' # *CP* Adjust as needed.
          elif [ '${{ github.event_name }}' == "pull_request" ]; then
              # Set the values for pull_request events
              os='${{ env.OS }}'
              preprocessor_symbols='${{ env.PREPROCESSOR_SYMBOLS }}'
          elif [ '${{ github.event_name }}' == "workflow_dispatch" ]; then
              # Get the values from the UI inputs of workflow_dispatch event. Convert comma-separated runner's OS values to JSON array
              # There is a known GitHub actions issue: the workflow dispatch UI doesn't properly handle JSON strings with quotes.
              # E.g. for the input '["ubuntu-latest"]', the UI removes the inner quotes and it becomes the invalid JSON: '[ubuntu-latest]'.
              os=$(echo "${{ inputs.os }}" | jq -Rc 'split(",") | map(select(length > 0) | gsub("^\\s+|\\s+$";""))')
              preprocessor_symbols='${{ inputs.preprocessor-symbols }}'
          else
              echo "Unsupported event: ${{ github.event_name }}"
              exit 5
          fi

          # Set the outputs:
          {
            echo "build-projects=${build_projects}"
            echo "test-projects=${test_projects}"
            echo "benchmark-projects=${benchmark_projects}"
            echo "os=${os}"
            echo "preprocessor-symbols=${preprocessor_symbols}"
            echo "dotnet-version=${dotnet_version}"
            echo "configuration=${configuration}"
            echo "min-coverage-pct=${min_coverage_pct}"
            echo "max-regression-pct=${max_regression_pct}"
          }  >> $GITHUB_OUTPUT

  call-ci:
    uses: vmelamed/vm2.DevOps/.github/workflows/_ci.yaml@main
    needs:
      - get-params
    secrets:
      CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }} # *CP* if the repo has tests and codecov is enabled, otherwise - delete this line
      BENCHER_API_TOKEN: ${{ secrets.BENCHER_API_TOKEN }} # *CP* if the repo has benchmarks and Bencher is used, otherwise - delete this line
    permissions:
      contents: read
      pull-requests: write # Required to comment on PRs
      checks: write # Required to create GitHub Checks
    with:
      os: ${{ needs.get-params.outputs.os }}
      dotnet-version: ${{ needs.get-params.outputs.dotnet-version }}
      configuration: ${{ needs.get-params.outputs.configuration }}
      preprocessor-symbols: ${{ needs.get-params.outputs.preprocessor-symbols }}
      build-projects: ${{ needs.get-params.outputs.build-projects }}
      test-projects: ${{ needs.get-params.outputs.test-projects }}
      benchmark-projects: ${{ needs.get-params.outputs.benchmark-projects }}
      min-coverage-pct: ${{ fromJSON(needs.get-params.outputs.min-coverage-pct) }}
      max-regression-pct: ${{ fromJSON(needs.get-params.outputs.max-regression-pct) }}
