name: Publish NuGet Prerelease
# After creating pay attention to the comments starting with CP - these are "Customize Points" to adjust the workflow to your repo needs.

on:
  pull_request:
    types:
      - closed
    branches:
      - main # trigger on PR merge to main branch

  workflow_dispatch:
    inputs:
      semver-build-prefix:
        description: "Prerelease prefix (e.g. preview, alpha, beta, rc1, etc.)"
        type: choice
        options:
          - preview
          - alpha
          - beta
          - rc1
          - rc2
          - rc3
          - rc4
        default: preview

      reason:
        description: "Reason for manual pre-release"
        required: true
        type: string

      force-publish:
        description: "Force publish even if already tagged"
        type: boolean
        default: false

env:
  # Build and package the root solution's projects marked with <IsPackable>true</IsPackable>.
  PACKAGE_PROJECTS: ""
  # GitHub Package
  NUGET_SERVER: github

jobs:
  get-params:
    name: Prepare the parameters
    runs-on: ubuntu-latest
    if: github.event.pull_request.merged == true || github.event_name == 'workflow_dispatch'
    outputs:
      package-projects: ${{ steps.init-params.outputs.package-projects }}
      nuget-server: ${{ steps.init-params.outputs.nuget-server }}
      semver-build-prefix: ${{ steps.init-params.outputs.semver-build-prefix }}
      force-publish: ${{ steps.init-params.outputs.force-publish }}
    steps:
      - name: Gather parameters
        id: init-params
        shell: bash
        run: |
          package_projects='${{ env.PACKAGE_PROJECTS }}'
          nuget_server='${{ env.NUGET_SERVER }}'
          semver_build_prefix=preview
          force_publish=false

          if [ '${{ github.event_name }}' == "workflow_dispatch" ]; then
            semver_build_prefix='${{ inputs.semver-build-prefix }}'
            force_publish='${{ inputs.force-publish }}'
          fi

          # Set the outputs:
          {
            echo "package-projects=${package_projects}"
            echo "nuget-server=${nuget_server}"
            echo "semver-build-prefix=$semver_build_prefix"
            echo "force-publish=${force_publish}"
          }  >> $GITHUB_OUTPUT

  log-trigger:
    if: github.event_name == 'workflow_dispatch'
    runs-on: ubuntu-latest
    steps:
      - name: Log manual trigger reason
        run: |
          echo "::notice::Manual release triggered by ${{ github.actor }}"
          echo "::notice::Reason: ${{ inputs.reason }}"

  prerelease:
    name: Prerelease
    needs:
      - get-params
    uses: vmelamed/vm2.DevOps/.github/workflows/_prerelease.yaml@main
    permissions:
      contents: write
      packages: write # Required for GitHub Packages
    secrets:
      NUGET_API_KEY: ${{ secrets.NUGET_API_GITHUB_KEY }}  # CP. The API key to use for publishing to the NuGet server (GitHub Package, NuGet.org, etc.).
                                                          # Make sure it corresponds to the 'env.NUGET_SERVER' above
    with:
      package-projects: ${{ needs.get-params.outputs.package-projects }}
      dotnet-version: ${{ vars.DOTNET_VERSION }}
      semver-build-prefix: ${{ needs.get-params.outputs.semver-build-prefix }}
      force-publish: ${{ fromJSON(needs.get-params.outputs.force-publish) }}
      reason: ${{ inputs.reason || '' }}
      nuget-server: ${{ needs.get-params.outputs.nuget-server }}
      save_package_artifacts: true
