name: Prerelease to NuGet

on:
  pull_request:
    types: [closed]
    branches:
      - main

  workflow_dispatch:
    inputs:
      semver-build-prefix:
        description: "Prerelease prefix (preview, alpha, beta, rc)"
        type: choice
        options:
          - preview
          - alpha
          - beta
          - rc
        default: preview

      reason:
        description: "Reason for manual pre-release"
        required: true
        type: string

      force-publish:
        description: "Force publish even if already tagged"
        type: boolean
        default: false

env:
  # If you have more than one project, specify projects to package, e.g. ["src/Project1/Project1.csproj","src/Project2/Project2.csproj"]
  PACKAGE_PROJECTS: >-
    ["./vm2.TestUtilities.slnx"]
  NUGET_SERVER: github  # 'github' - GitHub Packages; 'nuget' - NuGet.org

jobs:
  log-trigger:
    if: github.event_name == 'workflow_dispatch'
    runs-on: ubuntu-latest
    steps:
      - name: Log manual trigger reason
        run: |
          echo "::notice::Manual release triggered by ${{ github.actor }}"
          echo "::notice::Reason: ${{ inputs.reason }}"

  prerelease:
    name: Prerelease
    if: github.event_name == 'workflow_dispatch' || (github.event.pull_request.merged == true)
    uses: vmelamed/vm2.DevOps/.github/workflows/_prerelease.yaml@main
    permissions:
      contents: write
      packages: write # Required for GitHub Packages
    secrets:
      NUGET_API_KEY: ${{ secrets.NUGET_API_GITHUB_KEY }}
    with:
      package-projects: '["./vm2.TestUtilities.slnx"]'
      dotnet-version: ${{ vars.DOTNET_VERSION || '10.0.x' }}
      force-publish: ${{ inputs.force-publish || false }}
      semver-build-prefix: ${{ inputs.semver-build-prefix || 'preview' }}
      save_package_artifacts: true
      nuget-server: ${{ env.NUGET_SERVER }} # Publish to GitHub Packages
