name: Publish NuGet Release

on:
  push:
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+" # trigger on version tags like v1.2.3

  workflow_dispatch:
    inputs:
      reason:
        description: "Reason for manual release"
        required: true
        type: string

      force-publish:
        description: "Force publish"
        type: boolean
        default: false

env:
  PACKAGE_PROJECTS: >- # CP. Projects to package, e.g. ["src/Project1/Project1.csproj","src/Project2/Project2.csproj"]
    ["./src/<name>/<name>.csproj"]
  NUGET_SERVER: github  # CP. 'github' - GitHub Packages; 'nuget' - NuGet.org. Make sure the NUGET_API_KEY secret corresponds to the server selected here.

jobs:
  get-params:
    name: Prepare the parameters
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/v') || github.event_name == 'workflow_dispatch'
    outputs:
      package-projects: ${{ steps.init-params.outputs.package-projects }}
      nuget-server: ${{ steps.init-params.outputs.nuget-server }}
      force-publish: ${{ steps.init-params.outputs.force-publish }}
    steps:
      - name: Gather parameters
        id: init-params
        shell: bash
        run: |
          package_projects='${{ env.PACKAGE_PROJECTS }}'
          nuget_server='${{ env.NUGET_SERVER }}'
          force_publish=false

          if [ '${{ github.event_name }}' == "workflow_dispatch" ]; then
            force_publish='${{ inputs.force-publish }}'
          fi

          # Set the outputs:
          {
            echo "package-projects=${package_projects}"
            echo "nuget-server=${nuget_server}"
            echo "force-publish=${force_publish}"
          }  >> $GITHUB_OUTPUT

  log-trigger:
    if: github.event_name == 'workflow_dispatch'
    runs-on: ubuntu-latest
    steps:
      - name: Log manual trigger reason
        run: |
          echo "::notice::Manual release triggered by ${{ github.actor }}"
          echo "::notice::Reason: ${{ inputs.reason }}"

  release:
    name: Release
    uses: vmelamed/vm2.DevOps/.github/workflows/_release.yaml@main
    permissions:
      contents: write
      packages: write
    needs:
      - get-params
    secrets:
      NUGET_API_KEY: ${{ secrets.NUGET_API_GITHUB_KEY }}  # CP. the API key to use for publishing to GitHub NuGet packages or NuGet.org
                                                          # Make sure it corresponds to the 'nuget-server' below
    with:
      package-projects: ${{ needs.get-params.outputs.package-projects }}
      dotnet-version: ${{ vars.DOTNET_VERSION }}
      force-publish: ${{ fromJSON(needs.get-params.outputs.force-publish) }}
      nuget-server: ${{ needs.get-params.outputs.nuget-server }}
      save_package_artifacts: true
